<%- include('header'); -%>

    <div class= "content">
        <h1> Contacts </h1>
        <table id = "catalogue">
            <thead>
                <tr>
                    <th>Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Mail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sai</td>
                    <td>Sharjah</td>
                    <td>0528094161</td>
                    <td>sai.nikhita2003@gmail.com</td>
                </tr>
                <tr>
                    <td>Yasir</td>
                    <td>Dubai Marina</td>
                    <td>0509479636</td>
                    <td>yasirsherif03@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>

<%- include('footer'); -%>