<%- include('header'); -%>
<h1>LOGIN</h1>
<form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="Username"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="Password">
    <button type="submit">Login</button>
  </form>

  <%- include('footer'); -%>